@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,700;1,900&display=swap");
*,
*::after,
*::before {
   font-family: "Roboto", sans-serif;
   font-style: normal;
}

#navbar {
   ul {
      .nav-item {
         .nav-link {
            font-size: 20px;
            position: relative;
            display: flex;
            align-items: end;
            font-weight: bolder;
            transition: all ease-out 0.5s;
            &:hover {
               color: blueviolet;
            }
         }
         .active {
            color: blueviolet;
         }

         &:nth-child(1),
         &:nth-child(2) {
            .nav-link {
               &:hover {
                  &::after {
                     position: absolute;
                     content: "";
                     background-color: blueviolet;
                     height: 3px;
                     width: 100%;
                     @media screen and (max-width:990px) {
                        display: none;
                     }
                  }
               }
            }
         }
      }
   }

   form {
      position: relative;
      input {
         padding-left: 30px;
      }
      .icoSearch {
         z-index: 1000;
         position: absolute;
         left: 10px;
         top: 10px;
         bottom: 10px;
         cursor: pointer;
      }
   }
}

#boutique {
   div.iconeRef1,
   div.iconeRef2 {
      .icon {
         color: rgb(0, 119, 255);
         transform: scale(5);
         margin-bottom: 10px;
      }
      @media screen and (max-width: 600px) {
         p {
            margin-top: 20px;
         }
      }
   }
   div.iconeRef2 {
      p {
         position: relative;
         padding: 30px;
      }
      p span {
         position: absolute;
         top: 10px;
         margin-left: 50px !important;
      }
   }

   .banier1Boutique {
      background-image: url("/images/Hero BG.png");
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (max-width: 750px) {
         div.imgBanier {
            display: none !important;
         }
         div p button {
            width: 300px;
            height: 50px;
            font-size: small;
         }
      }
      div p button {
         font-weight: 600 !important;
         width: 200px;
      }
      .startCourse:hover span.arrows {
         transition: all ease-out 80ms;
         position: relative;
         transform-origin: left center;
         transform: scaleX(1.7);
      }
   }

   .banier2Boutique {
      padding-top: 10%;
      height: 400px;
      background-image: url(/images/HomeBCover.jpg) !important;
      background-size: cover;
      background-repeat: no-repeat;
      form {
         height: 50px;
         position: relative;
         input {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
         }
         .icone {
            z-index: 1000;
            position: absolute;
            right: 118px;
            top: 20px;
            transform: scale(1.5);
         }
         button.modalsShow {
            height: 50px;
            position: absolute;
            right: 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
         }
      }
   }
}

#ListCours {
   div.banier1ListCours {
      height: 300px;
      background-image: url(/public/images/ccna1.jpg);
      background-size: cover;
   }
}

#formateurs {
   div.banier1Formateurs {
      height: 300px;
      background-image: url(/public/images/ccna12.jpg);
      background-size: cover;
   }
   div.banier2Formateurs {
      height: 300px;
      background-color: rgba(233, 232, 226, 0.774);
      img {
         @media screen and (max-width: 700px) {
            display: none;
         }
      }
   }
}

#blog {
   button {
      position: relative;
      right: 0;
   }
}
#CoursItem {
  
  
   .categirieLine {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 600px) {
         flex-direction: column;
         justify-content: center;
         align-items: start;
      }
   }
   article.cours{
      .nav-item {
         .nav-link {
            font-size: 20px;
            position: relative;
            display: flex;
            align-items: end;
            cursor: pointer;
            transition: all ease-out 0.5s;
            color: black;
            &:hover {
               color: blueviolet;
            }
         }
         .active {
            color: blueviolet;
         }

            .nav-link {
               width: auto;
               &:hover {
                  &::after {
                     position: absolute;
                     content: "";
                     background-color: blueviolet;
                     height: 3px;
                     width: inherit;
                  }
               }
            }
         
      }
   }
}
